#react-main-app{
  div#container {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  nav#links{
    background-color: #212427;
    width: 250px;

    a{
      color: white;

      &:hover {
        background-color: #3c3f42;
      }
    }
  }

  div#main {
    background-color: #03030352;
  }
}
